/* Estilos para el encabezado */
body {
    background-color: #212020; /* Cambiar el color de fondo de la página */
  }
  
.top-bar {
    background-color: #351357d2;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  .store-name h1 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
  }
  
  /* Estilos para el contenido principal */
  .main-content {
    padding: 20px;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color:#fff
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color:#fff
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .select-wrapper {
    position: relative;
  }
  
  .select-wrapper::after {
    content: '\25BE'; /* Flecha hacia abajo */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  .button-group {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #351357d2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.btn-cancelar {
    background-color: #ed1010;
    margin-left: 10px;
  }
  